.accordion__section {
  
}

.accordionTitle__wrapper {
  margin: auto;
  padding: 15px 50px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3CB371;
  border-bottom: 2px solid #3CB371;
  transition: .3s;
  
}
.accordionTitle__wrapper:hover {
  background-color: #2E8B57;
  border-bottom: 2px solid #eee;
}

.accordionTitle__text {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.accordionContent__wrapper {
  
}
